{% load cache %}
{% load static %}
{% cache 1800 head object %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
{% block meta_key %}
  <meta name="keywords" content="{% if object.meta_key %}{{ object.meta_key|default:'' }}{% else %}{{ SETUP.meta_key|default:'' }}{% endif %}">
{% endblock %}
{% block meta_desc %}
  <meta name="description" content="{% if object.meta_desc %}{{ object.meta_desc|default:'' }}{% else %}{{ SETUP.meta_desc|default:'' }}{% endif %}">
{% endblock %}
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{#	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />#}
{% block title %}
  <title>{% if object.meta_title %}{{ object.meta_title }}{% else %}{{ SETUP.meta_title|default:'3d.elitkadom.ru' }}{% endif %}</title>
{% endblock %}
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/all.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/slick.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fancybox.css' %}" />
  <script src="{% static 'landing/js/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static 'landing/js/slick.min.js' %}"></script>
  <script src="{% static 'landing/js/jquery.validate.js' %}"></script>
  <script src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
  <script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'landing/js/jquery.scrollTo.js' %}"></script>
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/html5.js' %}"></script><![endif]-->
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
  <script src="{% static 'landing/js/all.js' %}"></script>
  {{ SETUP.top_js|safe|default:'' }}
{% endcache %}
  {% block extra_js %}
  {% endblock %}
</head>

<body>
{% block content %}
  {% cache 1800 cityselect object %}
  <div id="city-popup" class="city-popup">
    <div class="city-top">
      <div class="city-title-mob">Выберите Ваш город:</div>
{#      <div class="city-search">#}
{#        <form action="send.php" method="post">#}
{#          <fieldset>#}
{#            <input name="" type="text" class="input" placeholder="Найти город...">#}
{#            <button class="loupe"></button>#}
{#          </fieldset>#}
{#        </form>#}
{#      </div>#}
    </div>
    <div class="city-main">
      <div class="city-title">Выберите Ваш город:</div>
      <div class="city-hidden">
        <ul class="city-list">
          {% for city in city_list %}
            <li><a href="{{ city.get_absolute_url }}">{{ city.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endcache %}
  <div id="wrapper">
    <div class="header-fixed">
      <div class="holder">
        <div class="header-nav">
          <ul>
            <li><a href="#info" class="scroll">Почему мы</a></li>
            <li><a href="#servises" class="scroll">Услуги</a></li>
            <li><a href="#house" class="scroll">Адреса</a></li>
            <li><a href="#product" class="scroll">Цены</a></li>
            <li><a href="#gallery" class="scroll">Галерея</a></li>
            <li><a href="#client" class="scroll">Клиенты</a></li>
            <li><a href="#coop" class="scroll">Партнерам</a></li>
            <li><a href="#contacts" class="scroll">Контакты</a></li>
          </ul>
        </div>
        <a href="tel:{% if object.phone %}{{ object.phone }}{% else %}{{ SETUP.phone|default:'8 800 775-18-45' }}{% endif %}" class="header-phone">{% if object.phone %}{{ object.phone }}{% else %}{{ SETUP.phone|default:'8 800 775-18-45' }}{% endif %}</a>
      </div>
    </div>
  {% cache 1800 header object %}
    <header class="header">
      <div class="holder">
        <div class="header-top">
          <div class="header-logo">
          {% if object and object.logo %}
            <img src="{{ object.logo.url }}" alt="">
          {% else %}
            <img src="{% static 'landing/images/logo.png' %}" alt="">
          {% endif %}
          </div>
          <div class="header-nav">
            <ul>
              <li><a href="#info" class="scroll">Почему мы</a></li>
              <li><a href="#servises" class="scroll">Услуги</a></li>
              <li><a href="#house" class="scroll">Адреса</a></li>
              <li><a href="#product" class="scroll">Цены</a></li>
              <li><a href="#gallery" class="scroll">Галерея</a></li>
              <li><a href="#client" class="scroll">Клиенты</a></li>
              <li><a href="#coop" class="scroll">Партнерам</a></li>
              <li><a href="#contacts" class="scroll">Контакты</a></li>
            </ul>
          </div>
          <div class="header-city-link">
            <a href="#city-popup" class="city-link fancybox"><span>Выбрать <br>город</span></a>
          </div>
          <a href="/admin/" class="header-button">Войти</a>
          <a href="tel:{% if object.phone %}{{ object.phone }}{% else %}{{ SETUP.phone|default:'8 800 775-18-45' }}{% endif %}" class="header-phone">{% if object.phone %}{{ object.phone }}{% else %}{{ SETUP.phone|default:'8 800 775-18-45' }}{% endif %}</a>
        </div>
        <div class="header-main">
          <div class="header-title">
            <h1><span class="yellow">3D брендирование лифтов</span><br> в новостройках</h1>
          </div>
          <div class="header-text">Разместим рекламу на всей поверхности в лифте (сроком от 6 месяцев)<br/>
          Брендируя лифт по нашей технологии вы защитите его от повреждений и получите клиентов из лояльно
          настроенных жителей! Успейте пока идут ремонты!</div>
          <div class="form-line">
            {% include 'landing/__include/form.html' %}
          </div>
          <ul class="header-list">
            <li>50 оформленных лифтов</li>
            <li><a href="#client" class="scroll">500 успешно выполненных заказов</a></li>
            <li>1000 собственных рекламных конструкций</li>
            <li>Работа “Под ключ”</li>
            <li><a href="#action" class="scroll">Дизайн-макет в подарок!</a></li>
          </ul>
          <div class="header-main-link"><a href="#gallery" class="scroll">Смотреть примеры работ</a></div>
          <div class="tablet">
            <div class="tablet-hidden">
              {{ main_video.code|safe|default:'' }}
            </div>
            <a href="" class="header-play"><img src="{% static 'landing/images/play.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </header>
  {% endcache %}
  {% cache 1800 why %}
    <section class="info" id="info">
      <div class="holder">
        <div class="info-title">
          <h2><span class="h2-light">Почему </span>заказывают рекламу у нас </h2>
        </div>
        <article class="info-text">
          {% for why in why_list %}
          <p>{{ why.text|safe|default:'' }}</p>
          {% endfor %}
        </article>
        <div class="info-video">
          {% for video in video_list %}
          <div class="info-video-item">
            <div class="info-video-iframe">
              {{ video.code|safe|default:'' }}
            </div>
            <div class="info-video-text">{{ video.title }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="info-text-bottom">
          <p style="font-style: italic;">&nbsp; &nbsp; &nbsp; &nbsp; С 2009 года компания выполнила более 500 заказов на размещение рекламы в лифтах от стендов до полного оформления.
          Рациональное отношение к делу позволило создать новый эффективный вид рекламы - 3D Брендирование лифта в новых домах,
          ведь на ремонты тратится немало средств, при этом бригады строителей "убивают" лифт при перевозке стройматериалов.
          Поэтому, защищая лифт, Вы и доносите информацию о себе и вызываете симпатию жителей, спасая их имущество!</p>
        </div>
      </div>
    </section>
  {% endcache %}
  {% cache 1800 service %}
    <section class="servises" id="servises">
      <div class="holder">
        <h2>Наши услуги</h2>
        <div class="serv-block">
          <div class="serv-table">
          {% for service in service_list %}
            <div class="serv-item">
              <div class="serv-img"><img src="{{ service.cover.url }}" alt=""></div>
              <div class="serv-content">
                <div class="serv-name">{{ service.title|default:'не указано' }}</div>
                <div class="serv-text">{{ service.text|safe|default:'не указано' }}</div>
                <div class="serv-price">{{ service.price|default:'не указано' }}{% if forloop.counter == 2 %}<br><a href="#product" class="serv-price-min scroll">смотреть цены</a>{% endif %}</div>
                <div class="serv-button">
                  <a href="#popup" class="button fancybox button-data" data-button="Узнать подробнее" data-title="Узнать подробнее о защитном брендировании лифта">Узнать подробнее</a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endcache %}
    <section class="action" id="action">
      <div class="action-gift"></div>
      <div class="action-printer"></div>
      <div class="holder">
        <div class="action-text">Звоните нам или
        <a href="#popup" class="fancybox button-data" data-button="Оставить заявку" data-title="Оставьте заявку на консультацию">оставьте заявку</a>
        на консультацию и принимайте участие в акции</div>
        <div class="action-title">Дизайн-макет вашей рекламы <span>в подарок к заказу!</span></div>
        <div class="action-phone">Звоните по номеру <span>{% if object.phone %}{{ object.phone }}{% else %}{{ SETUP.phone|default:'8 800 775-18-45' }}{% endif %}</span></div>
        <div class="action-note">Изображения и информация<br> предоставляется клиентом</div>
      </div>
    </section>
    <section class="house" id="house">
      <div class="house-top">
        <div class="holder">
          <h2><span class="yellow">Дома</span> <br>под рекламу</h2>
        </div>
        <div class="house-hand"></div>
      </div>
      <div class="house-map">
        <div id="photoMap" data-url="{% url 'landing:city-map' %}" data-city="{{ object.name|default:'Волгоград' }}" data-city-id="{{ object.id|default:'' }}"></div>
      </div>
      <div class="house-bottom">
        <div class="holder">
          <div class="house-bottom-title">Не нашли нужные?</div>
          <div class="house-bottom-text">Напишите, что вас интересует и мы предложим вам варианты</div>
          <div class="form-line">
            {% include 'landing/__include/form.html' %}
          </div>
        </div>
      </div>
    </section>
  {% cache 1800 cost %}
    <section class="product" id="product">
      <div class="holder">
        <h2>Стоимость</h2>
        <div class="product-block">
        {% for cost in cost_list %}
          <div class="product-item">
            <div class="product-img">
              <div class="product-slider">
              {% for costimage in cost.costimage_set.all %}
                <div data-thumb="{{ costimage.image_resize.url }}"><img src="{{ costimage.image.url }}"></div>
              {% endfor %}
              </div>
            </div>
            <div class="product-content">
              <div class="product-name">{{ cost.title }}</div>
              <ul class="product-info">
            {% with last=forloop.last %}
              {% for costitem in cost.costitem_set.all %}
                <li>
                  <div class="product-info-left" {% if last %}style="width:60%"{% endif %}>{{ costitem.title }}</div>
                  <div class="product-info-right" {% if last %}style="width:40%"{% endif %}>{{ costitem.price }}</div>
                </li>
              {% endfor %}
            {% endwith %}
              </ul>
              <div class="product-button">
                <a href="#popup" class="button fancybox button-data" data-button="Получить предложение" data-title="Получите предложение {{ cost.title }}">Получить предложение</a>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </section>
  {% endcache %}
  {% cache 1800 gallery %}
    <section class="gallery" id="gallery">
      <div class="holder">
        <h2>Наша Галерея</h2>
        <div class="gallery-block">
        {% for item in gallery_list %}
          <a href="{{ item.image.url }}" class="fancybox" data-fancybox-group="gal">
            <img src="{{ item.image_resize.url }}" alt="">
          </a>
        {% endfor %}
        </div>
      </div>
    </section>
  {% endcache %}
  {% cache 1800 client %}
    <section class="client" id="client">
      <div class="holder">
        <h2>Наши клиенты</h2>
        <div class="text-center">
          <span class="client-title-desc">
            нажимая на логотип вы можете увидеть реальный макет, который мы делали и размещали
          </span>
        </div>
        <div class="client-block">
        {% for client in client_list %}
          <div class="client-item">
            <a href="{{ client.get_maket_url }}" class="fancybox" data-fancybox-group="client">
              <img src="{{ client.image.url }}" alt="">
            </a>
          </div>
        {% endfor %}
        </div>
        <div class="button-holder">
          <a href="#popup" class="button fancybox button-data" data-button="Оставить заявку" data-title="Оставьте заявку на рекламу">Узнать условия</a>
        </div>
      </div>
    </section>
  {% endcache %}
  {% cache 1800 review %}
    <section class="review">
      <div class="holder">
        <h2 class="title">Отзывы </h2>
        <div class="review-slider">
        {% for review in review_list %}
          <div class="review-slide">
            <div class="review-block">
              <div class="review-photo"><img src="{{ review.avatar.url }}" alt=""></div>
              <div class="review-author">{{ review.name }}</div>
              <div class="review-status">{{ review.desc }}</div>
              <div class="review-text">{{ review.text|linebreaksbr|safe }}</div>
            </div>
          </div>
        {% endfor %}
        </div>
        <div class="cert-slider">
        {% for thanks in thanks_list %}
          <div class="cert-block">
            <div class="cert-img">
              <a href="{{ thanks.image.url }}" class="fancybox"><img src="{{ thanks.image_resize.url }}" alt=""></a>
            </div>
            <div class="review-author">{{ thanks.name }}</div>
            <div class="review-status">{{ thanks.desc|default:'' }}</div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
  {% endcache %}
    <section class="coop" id="coop">
      <div class="holder">
        <h2>Приглашаем к<br> сотрудничеству</h2>
        <div class="coop-holder">
          <div class="coop-block">
            <div class="coop-item coop1">
              <div class="coop-text">Хотите открыть</div>
              <div class="coop-title">свой рекламный бизнес?</div>
              <div class="coop-button">
                <a href="#popup" class="button fancybox button-data" data-button="Оставить заявку" data-title="Оставьте заявку на консультацию о франшизе Арт-лифт">Узнать о франшизе</a>
              </div>
            </div>
            <div class="coop-item coop2">
              <div class="coop-text">Вы представитель застройщика?</div>
              <div class="coop-title">Мы защитим ваши лифты бесплатно</div>
              <div class="coop-button">
                <a href="#popup" class="button fancybox button-data" data-button="Узнать условия" data-title="Узнайте, как мы можем помочь вам защитить лифты бесплатно">Узнать условия</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="map" id="contacts">
      <div class="holder">
        <div class="map-block">
          <div class="map-title">Наши контакты</div>
          <div class="map-text">{{ SETUP.contact|linebreaksbr|default:'' }}</div>
        </div>
      </div>
      <div class="map-holder">
        <div id="map"></div>
        <script>
          function initMap() {

          var myLatLng = {lat: 48.695408, lng: 44.504568};
          var myLatLng_pos = {lat: 48.695408, lng: 44.506376};

          // Create a map object and specify the DOM element for display.
          var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            scrollwheel: false,
            zoom: 16
          });

          // Create a marker and set its position.
          var marker = new google.maps.Marker({
            map: map,
            position: myLatLng_pos,
            title: 'г. Волгоград, ул. Пугачевская 7Г оф. 52'
          });

          }

        </script>
      {% cache 1800 googlemap %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYwgiF49X4el9HEX86YLocvHahqznvPzw&callback=initMap" async defer></script>
      {% endcache %}
      </div>
    </section>
  {% cache 1800 footer %}
    <footer class="footer">
      <div class="holder">
        <div class="footer-copy">
          Все права защищены &copy;
          <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script>, ООО РА "Арт-лифт" <br>
          <a href="#hidden-block" class="fancybox">Политика конфиденциальности</a>
        </div>
        <a href="http://neurondg.com/" target="_blank" class="footer-studio">
          <span>Дизайн сайта</span>
          <img src="{% static 'landing/images/studio.png' %}" alt="">
        </a>
        <div id="hidden-block">
          <h2>Политика конфиденциальности</h2>
          <p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
          Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
          При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно.
          Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.</p>
        </div>
      </div>
    </footer>
  {% endcache %}
    <div id="popup" class="popup">
      <div class="prod-form">
        <div class="popup-form-title">Оставьте заявку на консультацию</div>
        {% include 'landing/__include/form.html' %}
      </div>
    </div>
  </div>
{% endblock %}
{{ SETUP.bottom_js|safe|default:'' }}
{% cache 1800 mapsript %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endcache %}
<script src="{% static 'landing/js/photo-map.js' %}"></script>
</body>
</html>