{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Ваша заявка принята. Ждите звонка нашего менеджера!">
	<meta name="description" content="Ваша заявка принята. Ждите звонка нашего менеджера!">
	<meta name="format-detection" content="telephone=no">
{#	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />#}
	<title>Брендирование лифтов и реклама в новостройках</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/all.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/slick.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fancybox.css' %}" />
	<script src="{% static 'landing/js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'landing/js/slick.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.validate.js' %}"></script>
	<script src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
	<script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/html5.js' %}"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
	<script type="text/javascript">
		setTimeout('location.replace("{% url 'landing:index' %}")', 7000);
	</script>
</head>
<body>
	<div id="wrapper" class="thnx">
		<div class="thnx-text">
			Ваша заявка принята.<br>
			Наш менеджер свяжется с вами 
			в ближайшее время
		</div>
	</div>
</body>
</html>